<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="slapsteon" type="Insteon.Library.Configuration.SlapsteonConfigurationSection, Insteon.Library"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Insteon\Logs\InsteonLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <datePattern value=".yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d - %level - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <slapsteon>
    <slapsteonDevices>
      <device address="191CEE" name="plm" isDimmable="false" isPLM="true" />
      <device address="3097F3" name="downstairsThermostat" isThermostat="true" floor="1" />
      <device address="30961E" name="upstairsThermostat" isThermostat="true" floor="2" />

      <device address="2FDB0B" name="kitchen" floor="1" />
      <device address="2FEC00" name="kitchenSink" floor="1" />
      <device address="2B9997" name="breakfast" isDimmable="true" isKPL="true" floor="1" isRandomOn="false" randomStartTime="19" randomRunDuration="6" randomDurationMin="5" randomDurationMax="30" randomOnChance="1"/>
      <device address="2FE906" name="pantry" defaultOffMinutes="10" floor="H" />
      <device address="1BBF6E" name="pendants" isDimmable="true" floor="1" />

      <device address="2FEA3E" name="kitchenEntry" floor="1" />
      <device address="2fDFBD" name="laundry" defaultOffMinutes="15" floor="1" />

      <device address="2FE4D4" name="lowerHall" slaveDevices="lowerHall2" floor="1" />
      <device address="2FDCC7" name="lowerHall2" floor="1" />
      <device address="1BB0B9" name="familyRoomCans" isDimmable="true" floor="1" />
      <device address="2FDF54" name="familyRoomFan" floor="1" />
      <device address="2287BC" name="xmasTree" floor="H" />

      <device address="2FED1A" name="powderRoom" defaultOffMinutes="15" floor="1" />

      <device address="1BBCC0" name="diningRoomLine" isDimmable="true" floor="1" />
      <device address="1BBECC" name="diningRoomLoad" isDimmable="true" slaveDevices="diningRoomLine" floor="1" />

      <device address="1FC14E" name="frontDoorCan" floor="E" />
      <device address="192B83" name="frontDoorCoach" isKPL="true" isOnAtSunset="true" isOffAtSunrise="true" floor="E" />
      <device address="17F323" name="garageCoach" isOnAtSunset="true" isOffAtSunrise="true" floor="E" />
      <device address="2FEE19" name="foyer" isDimmable="true" isKPL="true" floor="1" isRandomOn="false" randomStartTime="20" randomRunDuration="5" randomDurationMin="5" randomDurationMax="12" randomOnChance="2"/>

      <device address="2415E2" name="deck" isKPL="true" floor="E" isRandomOn="false" randomStartTime="22" randomRunDuration="6" randomDurationMin="5" randomDurationMax="16" randomOnChance="1" />
      <device address="2FE12B" name="backyardFlood" floor="E" isRandomOn="false" randomStartTime="21" randomRunDuration="6" randomDurationMin="6" randomDurationMax="15" randomOnChance="2"/>
      <device address="229132" name="basementExterior" floor="E" isRandomOn="false" randomStartTime="22" randomRunDuration="9" randomDurationMin="5" randomDurationMax="15" randomOnChance="3"/>

      <device address="2FEC49" name="secondStairsTop"  slaveDevices="secondStairsKitchen" floor="2" />
      <device address="2FDD2E" name="secondStairsKitchen" floor="1" />


      <device address="22A60C" name="hall" floor="2" />
      <device address="1FB523" name="hallMiddle" floor="2" />
      <device address="22AEB1" name="hallMaster" floor="2" />

      <device address="21D50C" name="masterFan" isDimmable="true" isPLM="false" isFan="true" floor="2" />
      <device address="22A7D8" name="mbathHall" defaultOffMinutes="15" floor="2" />
      <device address="1FA77B" name="masterVanity" defaultOffMinutes="15" floor="2" />
      <device address="1FB286" name="mbathSink" defaultOffMinutes="30" floor="2" />
      <device address="1DD02A" name="mbathShower" isDimmable="true" defaultOffMinutes="20" floor="2" />
      <device address="1DCB15" name="mbathTub" isDimmable="true" floor="2" isRandomOn="false" randomStartTime="23" randomRunDuration="7" randomDurationMin="5" randomDurationMax="30" randomOnChance="1" />
      <device address="1FB26F" name="mbathFan" defaultOffMinutes="30" floor="2" />
      <device address="2FECDD" name="mbathToilet" defaultOffMinutes="15" floor="H" />
      <device address="2FEB79" name="steveCloset" defaultOffMinutes="15" floor="H" />
      <device address="38651A" name="lynnCloset" defaultOffMinutes="15" floor="H" />
      <device address="38DD8D" name="masterDen" isDimmable="true" floor="H"/>
      <device address="1D0F4F" name="masterDenOutletDimmer" isDimmable="true" floor="H" />

      <device address="192A4D" name="masterBedroom" isKPL="true" floor="2"/>
      <device address="1CD436" name="masterLamp" floor="H" />

      <device address="2FCF8A" name="princessBath" isDimmable="true" defaultOffMinutes="20" floor="H" />
      <device address="38D322" name="princessDimmer" isDimmable="true" floor="2" isRandomOn="false" randomStartTime="20" randomRunDuration="6" randomDurationMin="3" randomDurationMax="22" randomOnChance="2"/>
      <device address="192B89" name="princessKPL" isKPL="true" floor="2" />
      <device address="3854AD" name="bedroom3" floor="2" isRandomOn="false" randomStartTime="22" randomRunDuration="8" randomDurationMin="5" randomDurationMax="10" randomOnChance="2"/>
      <device address="38CB86" name="andrewDimmer" isDimmable="true" floor="2" />

      <device address="21D68A" name="frontPorchMotion" isBatteryDevice="true" floor="E" />
      <device address="1FC142" name="garageLight" floor="E" />
      <device address="1F4FEF" name="garageDoor1" isIODevice="true" floor="E" />
      <device address="1F4FBA" name="garageDoor2" isIODevice="true" floor="E" />
	  <device address="1F5031" name="frontDoorGarageDoor" isIODevice="true" floor="E" />

      <device address="1FB745" name="basementStairs" floor="B" />
      <device address="192BD4" name="basement" isKPL="true" floor="B" />
	  <device address="31AD63" name="bmotion" isBatteryDevice="true" floor="B" />
      <device address="384618" name="workshop" floor="B" />

    </slapsteonDevices>
  </slapsteon>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="SerialPort" value="COM4"/>
    <add key="EnableMonitorMode" value="true"/>
    <add key="latitude" value="35.773525"/>
    <add key="longitude" value="-78.888893"/>
    <add key="deviceXMLPath" value="C:\Insteon\deviceALDB.xml"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Insteon.Library.InsteonWebService" behaviorConfiguration="Default">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1/InsteonWebService" />
          </baseAddresses>
        </host>
        <endpoint address=""
            binding="webHttpBinding"
            contract="Insteon.Library.IInsteonWebService" />
      </service>
    </services>
  </system.serviceModel>

</configuration>
