<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="slapsteon" type="Insteon.Library.Configuration.SlapsteonConfigurationSection, Insteon.Library"/>
  </configSections>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Insteon\Logs\InsteonLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <datePattern value=".yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d - %level - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <slapsteon>
    <slapsteonDevices>
      <device address="197751" name="plm" isDimmable="false" isPLM="true" />
      <device address="192B83" name="frontDoorHigh" isDimmable="false" isPLM="false" />
      <device address="1BBF6E" name="breakfastDimmer" isDimmable="true" isPLM="false" />
      <device address="192A4D" name="kitchenMulti" isDimmable="false" isPLM="false" />
      <device address="192B89" name="kitchenMultiSolo" isDimmable="false" isPLM="false" />
      <device address="192BD4" name="mbrMulti" isDimmable="false" isPLM="false" />
      <device address="1BB0B9" name="mbrDimmer" isDimmable="true" isPLM="false" />
      <device address="1BBECC" name="livingroomDimmer" isDimmable="true" isPLM="false" />
      <device address="1BBCC0" name="gameroomDimmer" isDimmable="false" isPLM="false" />
      <device address="17F323" name="coachLights" isDimmable="false" isPLM="false" />
      <device address="1DD02A" name="diningDimmer" isDimmable="true" isPLM="false" />
      <device address="1FC14E" name="mbathVanity" isDimmable="false" isPLM="false" />
      <device address="1DCB15" name="mbathDimmer" isDimmable="true" isPLM="false" />
      <!--<device address="1FA77B" name="mbathTempRelay" isDimmable="false" isPLM="false" />-->
      <device address="1FC142" name="hallBath" isDimmable="false" isPLM="false" />
      <device address="1FB523" name="stairs" isDimmable="false" isPLM="false" />
      <device address="21D50C" name="officeFan" isDimmable="true" isPLM="false" />
    </slapsteonDevices>
  </slapsteon>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
